/.metadata/
java-basic/.settings/org.eclipse.jdt.core.prefs
java-basic/.classpath
java-basic/.project
java-homework/.settings/org.eclipse.jdt.core.prefs
java-homework/.classpath
java-homework/.project
java-bj/*